*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0px;
}
.login_page{
    width:min(900px,95%);
    height: 500px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inputgroup{
    position: relative;
    width: 95%;
    height: 50px;
    padding-left: 0px;
}
.inputgroup input{
    position: absolute;
    width: 100%;
    height: 45px;
    background: transparent;
    outline: none;
    border-bottom: 1px solid red;
    border-left: none;
    border-top: none;
    border-right: none;
    transition: all 200ms;
}
.inputgroup input:hover+label,
.inputgroup input:focus+label,
.inputgroup input:valid+label{
    transform: translateY(-10px);
}
.inputgroup label{
    position: absolute;
}
.topmargin{
    margin-top: 50px;
}
.callforcation{
    width: 100%;
    height: 45px;
    background-color: rgb(74, 120, 105);
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.btllogin{
    border: 1px solid blue;
} 